/*==============================================================================

        Color Variables

===============================================================================*/

$dark-grey:                 #323232;
$grey:						#7d7d7d;
$light-grey:				#d1d2d4;
$lightest-grey:				#e9e9e9;
$white:						#ffffff;
$black:                     #000000;

$blue-one:					#001239;
$blue-two:					#00325f;
$blue-three:				#004685;
$blue-four:					#5b78ab;
$blue-five:					#cdd8e4;

$purple:					#95459a;
$yellow:					#ffca00;
$red:						#d71920;
$green:						#32725b;


$bold: 700;
$regular: 400;
$button-transition: all .25s ease-in-out;