@charset "UTF-8";
@charset "iso-8859-15";
@import "config";
@import "variables";
@import "bootstrap";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
	color:$grey;
	&:hover {
		text-decoration: none;
	}
}

.container {
	width:100%;
	max-width:1170px;
	margin:auto;
}

.row {
	margin:0;
}


h1 {
	color:$blue-one;
}
body {
	font-family:'Oswald', sans-serif;
	position: relative;
   margin: 0;
   padding-bottom: 12rem;
   min-height: 100%;
   color:$blue-one;
}

/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/ 

#respond {
  margin-top: 40px;
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}


/*
	Global
*/

.no-pad {
	padding:0;
}

.no-margin {
	margin:0;
}



/* Home Carousel */

#homeCarousel {
	.carousel-inner {
		margin:auto;
	}
}

#homeCarousel .carousel-indicators {
    left: 0;
    margin: auto;
    width: 100%;
    display: table;
    right: 0;
    max-width: 1170px;
    text-align: left;
}

#homeCarousel .carousel-indicators li {
    margin:0 5px;
    border:0;
    background:$white;
    width:15px;
    height:15px;
}

#homeCarousel .carousel-indicators .active {
    background:$blue-one;
    width:15px;
    height:15px;
    box-shadow:0 0 10px rgba(255,255,255,0.5);
}

#homeCarousel .carousel-caption {
    padding:0;
    width:100%;
	max-width:1170px;
	margin:auto;
	text-align: left;
	right:0;
	left:0;
	bottom:75px;
	
	h2 {
		font-size:50px;
		margin:0 0 5px;
	}
	
	h3 {
		font-size:30px;
		margin:0;
		font-family:'Droid Sans', sans-serif;
	}
	

}


	.white-caption {
		color:$white!important;
		text-shadow:0 0 20px rgba(0,0,0,.25), 0 0 15px rgba(0,0,0,.25), 0 0 10px rgba(0,0,0,.25)!important;
	}
	
	.blue-caption {
		color:$blue-one!important;
		text-shadow:0 0 20px rgba(255,255,255,.5), 0 0 15px rgba(255,255,255,.75), 0 0 10px rgba(255,255,255,.75)!important;
		
	}

 #homeCarousel .carousel-caption h4 {
 	margin:0;    
}


#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    width: 100%;
    margin:auto;
    line-height: 1;
    max-height:605px;
    object-fit:cover;
}



/* Navigation */

.top-nav-container {
	background:$white;
	padding:20px 0;
	
	.main-logo {
		width:100%;
		max-width:166px; 
	}
	
	#v-container {
		width: 300px;
	    display: table;
	    margin: auto;
			border:1px solid $blue-five;
		
		#v-ticker {
			width:90%;
			height:42px!important;
			font-family:'Droid Sans', sans-serif;
			text-align: center;
			padding:0;
			float:left;
			border-right:1px solid $blue-five;
			
			ul {width:100%;}
			
			li {
				height:42px!important;
				padding-left:10px!important;
				width:100%;
				max-width:500px;
			}
		}
		
		#v-arrows {
			width:10%;
			float:left;
			
			#v-prev, #v-next {
				cursor: pointer;
				max-width:20px;
				margin:auto;
				img {
					width:100%;
				}
			}
			
			#v-next {
				margin-top:-2px;
				padding-bottom:2px;
			}
		}
	}
	
	#static-ticker {
		border:2px solid $grey;
		padding:5px;
		max-height:100px;
		overflow:auto;
		
		
		&::-webkit-scrollbar{
		   -webkit-appearance: none;
		}
		
		&::-webkit-scrollbar-thumb {
		    background-color: $grey;
		    border-radius: 20px;
		    background-clip: content-box;
		}
		
		&::-webkit-scrollbar-track {
		    background-color: rgba(100, 100, 100, .5);
		    width: 15px;
		}
		
		li {
			margin:0 0 10px;
			font-family:'Droid Sans', sans-serif;
			font-size:14px;
		}
	}
	
	#es-text {
		color:$red;
		clear:both;
		display:table;
		margin:auto;
		padding:0;
		font-size:28px;
		line-height:28px;
	}
	
	#fq-text {
		color:$blue-three;
		font-weight:400;
		font-size:24px;
		line-height:24px;
		display:table;
		margin:auto;
		float:right;
		text-align: center;
	}
	
	#fq-phone {
		a {
			color:$blue-one;
			font-weight:normal;
			font-size:42px;
			display:table;
			margin:auto;
			float:right;
		}
	}

	
}

#es-text-mob {
	color:$red;
	position:absolute;
	left:0;
	top:15px;
		display:table;
		margin:0;
		padding:0 0 0 20px;
		font-size:22px;
		line-height:22px;
}

.navbar-static-top {
	border-width:0;
}

.container-fluid>.navbar-header {
	margin:0;
}

.navbar-default {
	
	margin-bottom:0; 
	
			box-shadow:0 0 15px rgba(0,0,0,0.75);
	
	.menu-main-menu-container {
			background:$white;
			
		.navbar-nav {
			float:none;
			margin:0px;
			width:100%;
			max-width:1170px;
			display: block;
			position: relative;
			margin:auto;
			z-index:9999;
			
			li {
				float:left;
				display: table-cell;
				width:14.28%;
				text-align: center;
				border-bottom:0;
				transition:.25s all ease-in-out;
	
				
				&:hover {
					background:$white;
				}
				
				a {
					color:$blue-one;
					font-family: 'Oswald';
					font-size: 22px;
					padding:15px 0;
					font-weight:bold;
					
					&:hover {
						color:$green;
					}
					
					&:m {
						color:$blue-one;
					}
					
				}
				
				&.so-nav {
					a {
						color:$green;
					}
				}
				
				//submenu items
				
				.dropdown-menu {
					margin:-1px 0 0;
					padding:0;
					
					li {
						width:100%;
						
						&:last-child {
							border-bottom:0;
						}
						
						a {
							background:$light-grey;
							color:$white;
							background-image: none;
						    padding: 10px;
						    text-align: left;
						    font-size: 16px;
						    transition:.25s all ease-in-out;
							
							&:hover {
								background:$light-grey;
								color:navy;
								background-image:none;
							}
						}
						
						&:hover {
							background:$dark-grey;
							background-image:none;
						}
					}
				}
			}
			
			
			.active {
				a {
					background:$green;
					color:$white!important;
					
					&:focus, &:hover {
						background:$green;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white!important;
					}
						
				}
			}
			
			.open {
				a {
					background:$green;
					background-image:none;
					color:$white!important;
					
					&:focus, &:hover {
						background:$green;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white!important;
					}
						
				}
			}
			
		}
	}
}

.sticky {
	position:fixed;
	top:0;
	right:0;
	left:0;
	width:100%;
	z-index:9992;
	box-shadow:0 0 15px rgba(0,0,0,0.75);
	
	.sticky-hide {
		display:none;
	}
}


.sticky-pad {
	padding-top:204px;
}

	
.sticky {
	.sticky-hide-mob {
		display:none;
	}
}



.form-container {
	padding:20px 0;
	background:$blue-five;
	display: table;
	margin:20px 0;
	
	.form-control, input[type=date] {
		margin:10px 0;
		font-family:'Droid Sans', sans-serif;
	}
	
	input[type=submit] {
		background:$green;
		color:$white;
		width: auto;
	    border: none;
	    font-size: 26px;
	    font-weight: bold;
	    font-family: 'Oswald',sans-serif;
	    border-radius: 30px;
	    margin: 10px auto;
	    padding: 0;
	    min-width: 250px;
	    text-transform: uppercase;
	    display: table;
	    transition: .25s all ease-in-out;
	    
	    &:hover {
			background:$blue-three;
			color:$white;
		}
	    
	}
	
		.wpcf7-not-valid {
		background:#bb7f87;
		color:$white;
	}
			
	.wpcf7-not-valid::-webkit-input-placeholder {
		color: $white;
	}
	.wpcf7-not-valid::-moz-placeholder {
		color: $white;
	}
	.wpcf7-not-valid:-moz-placeholder {   /* Older versions of Firefox */
		color: $white;
	}
	.wpcf7-not-valid:-ms-input-placeholder { 
		color: $white;
	}
	

	
}

	.wpcf7-response-output, .wpcf7-not-valid-tip {
		display:none!important;
	}

/* CMS Sub Page */
.cms-page {
	position:relative;
	
	h2, p {
		font-family:'Droid Sans', sans-serif;
		font-size:18px;
	}
	
	h2 {
		font-weight:bold;
	}
}



ul {
	list-style: none;
	padding:0;
	margin:0;
}

.list_item {
	padding:0;
	margin:0;
}


/* Home Page Elements */

.home-service {
	text-align: center;
	padding:0;
	
	img {
		width:100%;
		transition:.25s all ease-in-out;
		cursor: pointer;
		
		&:hover {
			width:90%;
			padding-bottom:5%;
			padding-top:5%;
		}
	}
	
	span {
		font-weight:bold;
		font-size:18px;
	    color:$blue-one;
		display: table;
		margin:auto;
		clear:both;
	}
}

.home-point {
	margin:25px 0;
	h2 {
		font-size:36px;
		text-align: center;
	    max-width: 300px;
	    display: table;
	    margin: 10px auto;
	    line-height:35px;
	    font-family:'Oswald', sans-serif;
	    color:$blue-one;
	}
	
	p {
		font-size:16px;
		font-family: 'Droid Sans', sans-serif;
		text-align: center;
		line-height:22px;
	    max-width: 310px;
	    display: table;
	    margin: 10px auto 0;
	    color:$blue-one;
	}
}

.before-after {
	margin:50px 0;
	background:$blue-five;
	position:relative;
	
	.before-after-testimonial {
			padding:0 30px;
		span {
			font-size:22px;
			font-family:'Droid Sans', sans-serif;
			display:table;
			color:$blue-one;
		}
		
		em {
			font-style: normal;
			font-size:14px;
			font-family:'Droid Sans', sans-serif;
			display:table;
			float: right;
			text-align: right;
			color:$blue-one;
		}
	}
	
	.ba-image-container {
		.before-image {
			padding-left:0;
			img {
				width:100%;
			}
		}
		
		.after-image {
			padding-right:0;
			img {
				width:100%;
			}
		}
		
		.ba-divider {
			position: absolute;
		    width: 31%;
		    right: 49.5%;
		    margin-right: -15%;
		    z-index: 995;
		}
	}
}

.ba-cms-top {
	margin-bottom:0;
}

.ba-cms {
	margin-top:0;
}



/* Consultation Form */

.estimate-form {
	position:absolute;
	top:20px;
	background:$blue-one;
	right:0;
	max-width:285px;
	height:100%;
	max-height:610px;
    margin-right: 0;
    z-index: 999;
	
	#title-bar {
		color:$yellow;
		text-align: center;
		background:$blue-one;
		font-size: 32px;
		line-height: 36px;
		padding:20px 0 10px;
		font-family:'Oswald', sans-serif;
		display:block;
		width:100%;
	}
	
	em {
		color:$white!important;
		clear:both!important;
		display:table;
		margin:15px auto;
		font-family:'Droid Sans', sans-serif;
	}
	
	.form-control {
		height: 40px;
	    line-height: 40px;
	    padding-left: 10px;
	    margin:10px auto;
	    width: 100%;
	    color:$blue-one;
	    font-family: 'Droid Sans',  sans-serif;
	    font-size: 16px;
	    font-weight: 400;
	    transition:.25s all ease-in-out;
	}
	
	.radio-select {
		padding:15px 0;
	}
	
	#estimate-name {
		margin-top:0;
	}
	
	
	.wpcf7-list-item {
		display:table;
		clear:both;
		padding:0;
		margin:20px 0;
		
		label {
			width:100%;
			font-weight: normal;
			font-size:14px;
			font-family:'Droid Sans',sans-serif;
			padding-left:15px;
			color:$white;
		}
	}
	
	.wpcf7-submit {
		background:$blue-five;
		color:$blue-one;
		width:auto;
		border:none;
		font-size:26px;
		font-weight:bold;
		font-family:'Oswald',sans-serif;
		border-radius:30px;
		margin:10px auto;
		padding:0;
		min-width:250px;
		text-transform: uppercase;
		display:table;
		transition:.25s all ease-in-out;
		
		&:hover {
			background:$blue-three;
			color:$white;
		}
	}
	
	.wpcf7-not-valid {
		background:#bb7f87;
		color:$white;
	}
			
	.wpcf7-not-valid::-webkit-input-placeholder {
		color: $white;
	}
	.wpcf7-not-valid::-moz-placeholder {
		color: $white;
	}
	.wpcf7-not-valid:-moz-placeholder {   /* Older versions of Firefox */
		color: $white;
	}
	.wpcf7-not-valid:-ms-input-placeholder { 
		color: $white;
	}
	
	.wpcf7-response-output {
		display:none!important;
	}
	
	
	

.wpcf7-list-item-label {
	color:$white;
	font-family: 'Droid Sans', sans-serif;
	font-size:16px;
	padding-top:0;
}

	.clearfix:before,.clearfix:after{content:"";display:table}
	.clearfix:after{clear:both}
	.clearfix{*zoom:1}
	.prettycheckbox,.prettyradio{display:inline-block;padding:0;margin:0}
	.prettycheckbox>a,.prettyradio>a{height:25px;width:25px;display:block;float:left;cursor:pointer;margin:4px 0 0;background:white; border-radius:30px;}
	.prettycheckbox>a:focus,.prettyradio>a:focus{outline:0 none}
	.prettycheckbox label,.prettyradio label{display:none;float:left;margin:6px 5px;cursor:pointer}
	.prettycheckbox a.disabled,.prettycheckbox label.disabled,.prettyradio a.disabled,.prettyradio label.disabled{cursor:not-allowed}
	.prettyradio>a, .prettycheckbox>a {width: 25px;height: 25px;border-radius: 15px;top: 6px;left: 0px; position: relative;background:white;content: '';display: inline-block;visibility: visible;}
	.prettyradio>a:focus, .prettycheckbox>a:focus{background:$blue-two;}
	.prettyradio>a.checked, .prettycheckbox>a.checked{width: 25px;height: 25px; top: 6px;left: 0px;position: relative;background:$blue-two;content: '';display: inline-block;visibility: visible;}
	.prettyradio>a.checked:before, .prettycheckbox>a.checked:before {position: absolute; display: block; content: '';
    border: 2px solid white; border-radius:30px;
    height: 100%; width: 100%;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
	.prettyradio>a.checked:focus, .prettycheckbox>a.checked:focus{background:$blue-two;}
	.prettyradio>a.checked.disabled{background:grey;}
	.prettyradio>a.disabled{background:grey;}

	
	
	span.wpcf7-not-valid-tip {
		position: absolute;
	    color: $white;
	    font-size: 10px;
		display:none;
	    width: 100%;
	}
	
	em {
		color:$red;
		font-style: normal;
		font-size:11px;
		line-height:12px;
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	    color: $blue-one;
	}
	::-moz-placeholder { /* Firefox 19+ */
	    color: $blue-one;
	}
	:-ms-input-placeholder { /* IE 10+ */
	    color: $blue-one;
	}
	:-moz-placeholder { /* Firefox 18- */
	    color: $blue-one;
	}
}



	.close-estimate {
			position:absolute;
			padding:2px 10px;
			top:20px;
			right:5px;
			background:none;
			font-size:20px;
			color:$blue-five;
			font-weight: bold;
			border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
			cursor: pointer;
			
			
			.closebut {
				display:none;
			}
			
			.closebut, .expandbut {
					max-width:35px;
					width:100%;
			}
			
			
		}
	
	
	.estimate-overlay {
		display:none;
		background:$blue-five;
		opacity:.75;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-height:100%;
		z-index:999;
	}
	
	
	.estimate-activate {
		display:table;
		position:absolute;
		right:0;
		cursor:pointer;
	}



#thank-you-message {
	display:none;
	
	h2, p {
		color:$white;
			 font-family: 'Oswald', 'Times New Roman';
			 text-align: center;
			 padding-bottom:10px;
	}
	
}




.contact-box-container {
	color:$white;
	padding:0!important;
	
	.contact-box {
		background:$blue-five;	
		padding:20px 20px!important;
		color:$blue-one;
		
		h2 {
			font-family: 'Oswald',sans-serif;
		    margin: 0 0 10px;
		    font-size: 36px;
		}
		
		h3 {
			font-family:'Droid Sans', sans-serif;
			margin: 0 0 5px;
			font-size: 16px;
		}
	}
	

	
}

#google-map {
	width:100%;
	display:table;
	max-height:375px;
}

.z-ind-high {
	z-index:995;
}

.w-100 {
	width:100%;
}

.pb-20 {
	padding-bottom:20px;
}

.d-table {
	display:table;
}


.list_item {
			background:$blue-five;
			color:$blue-one;
			padding:20px;
			margin-bottom:20px;
			
			.info-section-title {
				font-family:'Oswald', sans-serif;
				font-size: 35px;
			    margin-top: 10px;
			    max-width: 75%;
			    line-height: 40px;
			    cursor: pointer;
				position:relative;
				transition:.25s transform ease-in-out;
			    
			    &:after {
					transition:.25s transform ease-in-out;
				    content: url(../images/arrow.png);
				    position: absolute;
				    right: -30%;
				    top: 0;
				    height: 50px;
				    line-height: 25px;
				    font-size: 70px;
			    }
			}
			
			.rotate-arrow {
				&:after {
					transition:.25s transform ease-in-out;
					transform:rotate(90deg);
			    }
			}
		}

/* Footer */

.site-footer {
	background:$blue-one;
	color:$white;
	padding:10px 0;
	text-align: center;
	font-family:'Droid Sans', sans-serif;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:999;
	padding: 1rem;
	
	a {
		color:$white;
		font-family:'Droid Sans', sans-serif;
		text-align: center;
	}
}

.form-control, select{
  	-webkit-border-radius: 0!important;
     -moz-border-radius: 0!important;
     border-radius: 0!important;
     -webkit-appearance: none;
}


@media screen and (min-width:769px) {
	.before-after {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.no-pad-dt {
		padding:0;
	}
	
	.fixed-estimate-form {
		position:fixed;
		top:202px;
		right:50%;
		margin-right:-640px;
		max-height:620px;
		z-index:99;
	}
	
	.close-estimate {
		display:none;
	}
	

	.z-ind-high {
		padding-right:25px;
	}
	
	#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
 		min-height:605px;
 	}
 	
 	#homeCarousel { 
	 	.carousel-caption {
		 	h2 {
				width:63%;		 	
		 	}
		 	
		 	h3 {
			 	width:63%;
		 	}
		}
	}
 	
 	.ef-container {
 		width:100%;
	 	max-width:1170px;
	 	margin:auto;
	 	left:0;
	 	right:0;
	 	position:absolute;
	    height: 614px;
	    top: 175px;
	 }
}

@media screen and (min-width:769px) and (max-width:850px) {
	.navbar-default {
		.menu-main-menu-container {
			.navbar-nav {
				li {
					a {
						font-size:18px;				
					}
				}
			}
		}
	}
	
}

@media screen and (max-width:991px) {
		
	.before-after {
		.before-after-testimonial {
			padding:30px;	
		}
		
	}
	
	
	
	.top-nav-container {
		background:$white;
		padding:20px 0;
		
		.main-logo {
			max-width:215px;
		}
		
		#es-text {
			font-size:2.25vw;
			line-height:2.25vw;
			padding:0;
		}
		
		
		
		#fq-text {
			font-size:2.25vw;
			line-height:2.25vw;
			text-align: center;
			font-weight:400;
			
		}
		
		#fq-phone {
			display:table;
			margin:auto;
			text-align: center;
			
			a {
				font-size:26px;
			}
		}
	}
	
}



@media screen and (max-width:768px) {
	/* Navigation */
	
	.sticky-pad {
		padding-top:272px;
	}
	
	.sticky {
	
		.sticky-hide-mob {
			display:none;
		}
	}

	.navbar {
		margin-bottom:0; 
		
		.navbar-header {
			background:$blue-one;
			position:relative;
		}
		
		.navbar-toggle {
			padding:0;
			background:none;
			border:0;
			
			&:hover {
				background:none;
			}
			
			&:focus {
				background:none;
			}
			
			.icon-bar {
				background-color:$light-grey;
				height:5px;
			    width: 40px;
			    margin: 10px 10px 10px 0px;
				transition: all .2s
			}
		}
		
			
		.navbar-toggle .top-bar {
		    transform: rotate(45deg);
		    transform-origin: 0% 0%;
		}
		
		.navbar-toggle .middle-bar {
		    opacity: 0;
		}
		
		.navbar-toggle .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: -10% 70%;
		}
		
		.navbar-toggle.collapsed .bottom-bar,
		.navbar-toggle.collapsed .top-bar {
		    transform: rotate(0);
		}
		
		.navbar-toggle.collapsed .middle-bar {
		    opacity: 1
		}
		
		
		#navbar {
			width:100%;
			max-width:1170px;
			margin:auto;
			padding:0!important;
			
			.menu-main-menu-container {
				#menu-main-menu {
					display:table;
					width:100%;
					margin:0;
					
					li {
						border-bottom: 1px solid $blue-one;
						background:$white;
						display: table;
						width:100%;
						text-align: left;
						
						&:last-child {
							border-bottom: none;
						}
						
						a {
							font-size:30px;
							font-weight:bold;
							padding:25px 15px;
							color:$blue-one!important;
							transition:$button-transition;
							
							&:hover {
								background:$white;
								color:$green;
							}
							
							&:after {
								content:"»";
								position:absolute;
								right:15px;
								transition:.25s transform ease-in-out;
							}
	
						}
						
						
						&.open>a {
				
								&:after {
									content: "»";
								    position: absolute;
								    right: 15px;
								    transform:rotate(90deg);
								}
							
						}
						
						
						
						.dropdown-menu {
							padding:0;
							border-top: 1px solid $white;
							
							li {
								background:$white;
								a {
									font-size:18px;
									padding:10px;
									color:$blue-one;
									
									&:hover {
										color:$green;
										background: none;
									}
								}
							}
							
							
						}
						&.so-nav {
							a {
								color:$green!important;
							}
							
						
						}
						
						
						
					}
					
								
					.active {
						&.so-nav {
							a {
								color:$white!important;
							}
						}
						
						a {
							background:$green;
							color:$white!important;
							
							&:focus, &:hover {
								background:$green;
								color:$white!important;
								background-repeat: repeat-x;
								background-position: center bottom;
							}
								
						}
					}
					
					.open {
						&.so-nav {
							a {
								color:$white!important;
							}
						}
						
						
						a {
							background:$green;
							color:$white!important;
							background-image:none;
							
							&:focus, &:hover {
								background:$green;
								color:$white!important;
								background-repeat: repeat-x;
								background-position: center bottom;
							}
								
						}
					}
					
					
				}
			}
		}
	}
	
	
	#homeCarousel {
		.carousel-indicators {
		    position:relative;
		    width:auto;
		    max-width:none;
		    margin:auto;
		    bottom:0;
		    padding:20px 0;
		}
		
		.carousel-indicators li {
		    margin:0 10px;
		    background:$blue-five;
		    width:20px;
		    height:20px;
		}
		
		.carousel-indicators .active {
		    background:$blue-one;
		    width:20px;
		    height:20px;
		    box-shadow:none;
		}
	}	
	
	
	#homeCarousel .carousel-caption {
	    padding:0;
		position:relative;
	    width:100%;
		max-width:100%;
		margin:auto;
		text-align: center;
		bottom:0;
		
		h2 {
			font-size:42px;
			margin:30px 0 10px;
			color:$blue-one;
			text-shadow:none;
		}
		
		h3 {
			font-size:26px;
			min-height:60px;
			margin:0;
			color:$blue-one;
			text-shadow:none;
			font-family:'Droid Sans', sans-serif;
		}
	}
	
	.home-service {
		span {
			padding:0 5px;
			margin-bottom:10px;
		}
	}
	
	

	.home-point {
		margin:0;
		h2 {
			font-size:36px;
			display:table;
			text-align: left;
		    max-width: 100%;
		    background:$blue-five;
		    line-height:37px;
		    padding:10px;
		    margin:15px 0;
		}
		
		p {
			font-size:16px;
			font-family: 'Droid Sans', sans-serif;
			text-align: center;
			line-height:22px;
		    max-width: 310px;
		    display: table;
		    margin: 10px auto 0;
		}
	}
	
	.cms-page {
		padding-bottom:50px;
	}
	
	.estimate-overlay {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: none;
		background:$blue-five;
		opacity:.75;
		z-index:998;
	}

	

	/* Consultation Form */
		.estimate-form {
			position:absolute;
			background:$blue-one;
			right:0;
			left:0;
			width:100%;
			max-width:480px;
			z-index:999;
			margin:0 auto;
			top:auto;
			bottom:71px;
			height:75px;
			overflow: hidden;
			display: block;
			transition:.35s height ease-in-out;
			
			#title-bar {
				font-size:32px;
				text-align: left;
			}
			
			.fa-times {
				display:none;
			}
						
			
			.form-control {
				height: 40px;
			    line-height: 40px;
			    padding-left: 10px;
			    color:$blue-one;
			    margin:10px 0;
			    width: 100%;
			    font-family: 'Droid Sans', Arial;
			    font-size: 18px;
			    font-weight: 400;
			    transition:.25s all ease-in-out;
			}
			

			.wpcf7-submit {
				background:$blue-five;
				color:$blue-one;
				width:auto;
				float:none;
				font-size:36px;
				font-weight:bold;
				font-family:'Oswald',Times New;
				border-radius: 20px;
			    margin: 0 auto;
			    padding: 5px 50px;
			    position: relative;
			    display: block;
			}
			
						
			.wpcf7-response-output {
				display:none!important;
			}
			
			
			span.wpcf7-not-valid-tip {
				position: absolute;
			    color: white;
			    font-size: 10px;
				display:none;
			    width: 100%;
			}
			
			em {
				color:$red;
				font-style: normal;
				font-size:16px;
				text-align: left;
				line-height:12px;
				padding:15px 0;
				float:left;
			}
			
			br {
				display:none;
			}

		}


		.list_item {
			background:$blue-five;
			color:$blue-one;
			padding:10px 15px;
			margin-bottom:20px;
			
			.info-section-title {
				font-family:'Oswald', sans-serif;
				font-size: 30px;
			    margin-top: 10px;
			    max-width: 75%;
			    line-height: 35px;
			    cursor: pointer;
				position:relative;
				transition:.25s transform ease-in-out;
			    
			    &:after {
					transition:.25s transform ease-in-out;
				    content: url(../images/arrow.png);
				    position: absolute;
				    right: -30%;
				    top: 0;
				    height: 50px;
				    line-height: 25px;
				    font-size: 70px;
			    }
			    
			    p {
				    font-family: 'Droid Sans', sans-serif;
			    }
			}
			
			.rotate-arrow {
				&:after {
					transition:.25s transform ease-in-out;
					transform:rotate(90deg);
			    }
			}
		}
		
		
		
	.overlay-nav {
		position:absolute;
		background:$blue-five;
		opacity:.75;
		width:100%;
		height:100%;
		display:none;
		z-index:9991;
	}
	
	.show-hide {
		display:block;
	}
	
	.slide-up {
		height:600px!important;
	}
	
	.hide-show {
		display:block;
	}

	
	 .pull-xs-left {
        float: left;
    }
    .pull-xs-right {
        float: right;
    }
	
	
	
	.top-nav-container {
		background:$white;
		padding:20px 0;
		
		.main-logo {
			max-width:175px;
		}
	
		
	
		
		#v-container {
			width: 100%;
		    display: table;
			margin:20px auto 0;
		
			
			#v-ticker {
				width:95%;
				font-family:'Droid Sans', sans-serif;
				text-align: left;
				padding:0px;
				float:left;
				
				li {
					font-size:12px;
					max-width:450px;
					padding-left:0!important;
				}
			}
			
			#v-arrows {
				width:5%;
				float:left;
				
				#v-prev, #v-next {
					cursor: pointer;
					max-width:20px;
					margin:auto;
					img {
						width:100%;
					}
				}
				
				#v-next {
					margin-top:-2px;
					padding-bottom:2px;
				}
			}
		}
		
			#es-text {
				color:$red;
				clear:both;
				display:table;
				margin:auto;
				padding:0;
				font-size:24px;
				line-height:3vw;
				float: right;
			}
			
			#fq-text {
				color:$blue-three;
				font-weight:bold;
				font-size:24px;
				line-height:24px;
				display:table;
				margin:auto;
				float: right;
			}
			
			#fq-phone {
				display: table;
				float: right;
				
				a {
					color:$blue-one;
					padding-top:5px;
					font-weight:bold;
					font-size:42px;
					line-height:42px;
					display:table;
					margin:auto;
					float: right;
					clear:both;
				}
			}	
		
	}
	
	
	.before-after {
			.before-after-testimonial {
				padding:15px;
				span {
					font-size:18px;
				}
			}
		}
	
	
	/* Crucial to make nav hide show on mobile */
	.navbar-collapse.collapse {
		display:none!important;
	}
	
	.collapse.in {
	    display: table !important;
	}
	
	//override bootstrap to show hamburger on tablet portrait
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin:0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
    }
    
    .overlay-nav {
		position:fixed;
		
		background:rgba(0,0,0,0.75);
		width:100%;
		height:100%;
		display:none;
		z-index:998;
	}
	
	
	.show-hide {
		display:block;
		top:0;
	}
	
	
	
	
}


/* iPad landscape */ 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	.sticky-pad {
		padding-top:200px!important;
	}

}




/* iPad portrait */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	.top-nav-container {
		#fq-text {
			font-size:15px;
			line-height:18px;
		}

		#fq-phone {
			a {							
			    font-size: 30px;
			    line-height: 30px;
			}		
		}
		
		#es-text {	
		    font-size: 26px;
		    line-height: 36px;
		}
		
		#static-ticker {
			max-height:73px;
			-webkit-overflow-scrolling: touch;
		}
		
		.main-logo {
			padding-top:5px;
		}
	}
	
	.sticky-pad {
		padding-top:170px;
	}
	
	#homeCarousel {
		.carousel-caption {
			
			h2 {
				font-size:40px;
				margin:30px 0 10px;
			}
			h3 {
				font-size:22px;
				height:60px;
				padding:0 10px;
			}
		}
	}
	
	.home-point {
		h2 {
			background:#ffffff;
			font-size:26px;
			line-height:30px;
			text-align: center;
			margin:15px 0 0;
		}
		
		p {
			padding:0 15px;
			font-size:11px;
		}
	}
	
	.before-after {
		.before-after-testimonial {
			span {
				font-size:16px;
			}
		}
	}
	
	.z-ind-high {
		width:100%;
	}

}




@media screen and (max-width:480px) {
						
	.sticky-pad {
		padding-top:245px;
	}					
	#es-text-mob {
		font-size:18px;
		line-height:18px;
		top:18px;
}



.contact-box-container {
	color:$white;
	padding:0!important;
	
	.contact-box {
		background:$blue-five;	
		padding:20px 20px!important;
		color:$blue-one;
		
		h2 {
			font-family: 'Oswald',sans-serif;
		    margin: 0 0 10px;
		    font-size: 36px;
		}
		
		h3 {
			font-family:'Droid Sans', sans-serif;
			margin: 0 0 5px;
			font-size: 12px;
		}
	}
	

	
}
						
		/* Home Page Elements */

		.home-service {
			text-align: center;
			
			img {
				width:100%;
			}
			
			span {
				font-weight:bold;
				font-size:12px;
				color:$blue-one;
			}
		}
		
		
		.home-point {
			margin:0;
			h2 {
				font-size:26px;
			    line-height:27px;
			    padding:5px 10px;
			    margin:15px 0;
			}
			
		}
		
		.pt-25-mob {
			padding-top:25px;
		}
		
		.list_item {
			p {
				font-family: 'Droid Sans', sans-serif;
			}
		}
		
		.before-after {
			.before-after-testimonial {
				padding:15px;
				span {
					font-size:14px;
				}
			}
		}
		
		#homeCarousel {
			.carousel-caption {
				min-height:80px;
				
				h2 {
					font-size: 28px;
					margin:15px 0 10px;
				}
				
				h3 {
					font-size:18px;
				}
			}
		}
		
		
		
		.list_item {
			background:$blue-five;
			color:$blue-one;
			padding:1px 10px;
			margin-bottom:20px;
			
			.info-section-title {
				font-family:'Oswald', sans-serif;
				font-size: 20px;
			    margin-top: 10px;
			    max-width: 75%;
			    line-height: 25px;
			    cursor: pointer;
				position:relative;
				transition:.25s transform ease-in-out;
			    
			    &:after {
					transition:.25s transform ease-in-out;
				    content: url(../images/arrow.png);
				    position: absolute;
				    right: -30%;
					top:0;
				    height: 35px;
			    }
			}
			
			.rotate-arrow {
				&:after {
					transition:.25s transform ease-in-out;
					transform:rotate(90deg);
			    }
			}
		}

		.estimate-form  {
			#title-bar {
				font-size:25px;		
			}
		}
		
		
		.top-nav-container {
			background:$white;
			padding:20px 0;
			#v-container {
				width: 100%;
			    display: table;
			    margin: 10px auto 0;
				
				#v-ticker {
					width:90%;
					height:43px!important;
					font-family:'Droid Sans', sans-serif;
					text-align: center;
					padding:5px;
					float:left;
					
					li {
						height:43px!important;
					}
				}
				
				#v-arrows {
					width:10%;
					float:left;
					
					#v-prev, #v-next {
						cursor: pointer;
						max-width:20px;
						margin:auto;
						img {
							width:100%;
						}
					}
					
					#v-next {
						margin-top:-2px;
						padding-bottom:2px;
					}
				}
			}
	}
	
	
	
	.top-nav-container #fq-text {
			font-size:20px!important;
			line-height:20px!important;
		}
		
		.top-nav-container #fq-phone {
			float:right;
			clear:both;
			a {
				font-size: 32px!important;
				line-height:32px!important;
				letter-spacing: 0;
				margin:0; 
			}
		}
		
		.top-nav-container #es-text {
			font-size:14px!important;
			padding:0;
		}
		
		.top-nav-container .main-logo {
			max-width: 155px;
				padding-left: 15px;
				margin-bottom:5px;
		}
		
		.mobile-remove-pad {
			padding:0 20px 0 0;
		}
			
	
}


	@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
		
		.top-nav-container {
			#fq-text {
				font-size:14px!important;
				line-height:14px!important;
			}
			#fq-phone {
				a {
					font-size: 28px!important;
					line-height:32px!important;
					letter-spacing: 0;
					margin:0;
				}
			}
			
			#es-text {
				font-size:14px!important;
				padding:0;
			}

			.main-logo {
				max-width: 155px;
				padding-left: 15px;
				margin-bottom:5px;
			}

			
		}
		
		#homeCarousel {
			.carousel-caption {
				min-height:90px;
				h3 {
					font-size:16px;
				}
			}
			
		}
		.estimate-form { 
			#title-bar {
				font-size:23px;
			}
			
			.radio-select {
				padding:0px;
			}
			
			div.wpcf7 .ajax-loader {
				display: none;
			}
			
			.wpcf7-list-item {
				margin:0 0 10px;
			}
			em {
				font-size:15px;
			}
			
			.wpcf7-submit {
				margin-top:20px;
				padding:0px 50px;
			}
		}
		
		.slide-up {
			    height: 560px !important;
				bottom: 60px;	
				z-index:9999;	
    }
		
		.mobile-remove-pad {
			padding:0 20px 0 0;
		}

	}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
	.top-nav-container { 
		#fq-text {
			font-size:14px!important;
			line-height:14px!important;
		}
		
		#fq-phone {
			a {
				font-size:26px!important;
				line-height:26px!important;
			}
		}
		
		
	}
	
	#homeCarousel {
		.carousel-caption {
			h2 {
				font-size:22px;			
			}
			h3 {
				font-size:14px;
			}
		}
	}
	
	#homeCarousel {
		.carousel-caption {
			h2 {
				font-size:16px;
			}
			
		}
	}
	
	.estimate-form {
		#title-bar {
			font-size:18px;
		}
		
		em {
			font-size:12px;
		}
	}
	
	
}




